body{
    background-color: antiquewhite;
}
.navbar{
    margin-bottom: 1%;
}
.column{
    margin-bottom: 20px;
}
.custom-border
{
    border: 2px solid #768eb5;
    padding-bottom: 12%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

@keyframes slideUpDown {
    0%, 100% {
        width: 0; /* La 0% și 100% width este 0 */
    }
    50% {
        width: 100%; /* La 50% width este 100% */
    }
}
hr{
    border:2px solid #768eb5;
    animation: slideUpDown 5s ease-in-out infinite; 
    margin-bottom: 50px;
}
.dropright {
    position: relative;
  }
  
  .dropright .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

  .form-control{
    width: 300px;
  }

  .navbar-brand {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
    font-style: italic; 
    color: #000000;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
.stilizare{
    border: 2px outset black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
#numeTitluStudent{
    font-size: 20px;
    height: 20px;
    width: 110px;
    text-align: center;
}

.btnsMainStudent
{
    border-radius: 5px;
    background-color: #6086E2;
    color: white;
    font-weight: bold;
    border: none;
    width: 170px;
    height: 60px;
}