@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: antiquewhite;
}
.navbar{
    margin-bottom: 1%;
}
.column{
    margin-bottom: 20px;
}
.custom-border
{
    border: 2px solid #768eb5;
    padding-bottom: 30%;
}
@keyframes slideUpDown {
    0%, 100% {
        width: 0; /* La 0% și 100% width este 0 */
    }
    50% {
        width: 100%; /* La 50% width este 100% */
    }
}
hr{
    border:2px solid #768eb5;
    animation: slideUpDown 5s ease-in-out infinite; 
    margin-bottom: 50px;
}

  .form-control{
    width: 300px;
  }

  .navbar-brand {
    font-family: 'Quicksand', sans-serif; 
    font-weight: bold; 
    font-style: italic; 
    color: #000000;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
#ButonProfil{
    background-color: black;
    color:white;
}

/* .user-profile-modal {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    top:100%;
    overflow-y: auto;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
   */
  